
:root {
  --blur: 0;
  --brightness: 0;
  --contrast: 0;
  --grayscale: 0;
  --hueRotate: 0;
  --saturate: 0;
  --sepia: 0;
  --opacity: 0;
}


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax( 350px, 500px) 150px;
  grid-template-rows: minmax( 450px, 600px) 60px;
  grid-gap: 1rem;
  padding: 1rem;
}

.image-container {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.image-input {
  width: 70%;
  height: 70%;
  border: 2px dashed grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
  position: relative;
}

.image-input > h2 {
  position: absolute;
  top: 30%;
  font-size: 1.4rem;
}

.add-image-btn {
  position: absolute;
  top: 50%;
  font-size: 5rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  transform: translateY(-50%);
  transition: opacity 400ms ease-in-out;
}
.add-image-btn:hover {
  opacity: 0.5;
}

.image-view {
  width: 100%;
  height: auto;
}

.added-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  filter: blur(calc(var(--blur) * 1px) )
          brightness(calc(var(--brightness) * 1%))
          contrast(calc(var(--contrast) * 1%))
          grayscale(calc(var(--grayscale) * 1%))
          hue-rotate(calc(var(--hueRotate) * 1deg))
          saturate(calc(var(--saturate) * 1%))
          sepia(calc(var(--sepia) * 1%))
          opacity(calc(var(--opacity) * 1%))
}

.tool-bar {
  /* grid-row: 1 / -1; */
  width: 100%;
  height: 100%;
  background-color: hsl(200, 50%, 30%);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.tool-bar > button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: none;
  outline: none;
  color: #ddd;
  border: none;
  text-transform: capitalize;
  transition: 350ms ease;
}

.tool-bar > button:hover {
  background-color:hsl(200, 50%, 20%);
  color: #fff;
}

.tool-bar > button.active {
  background-color:hsl(200, 50%, 10%);
}

.ranger {
  width: 100%;
  height: 50px;
}

.ranger > input {
  width: 100%;
}